<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class="user-info-container">
      <form method="POST" action="/user/create-user">
        <div class="container mt-5">
          <div class="text-center">
            <h2 class="text-primary">CREATE USER</h2>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="mb-3 col-6">
              <label for="email" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                required
              />
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="mb-3 col-6">
              <label for="userName" class="form-label">User name</label>
              <input
                type="text"
                class="form-control"
                id="userName"
                name="userName"
                required
              />
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="mb-3 col-6">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
              />
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-6 d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <hr />
    <div class="mt-4">
      <div class="container">
        <h3 class="row text-primary text-uppercase">Table user</h3>
        <div class="row">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% userList.forEach(function(item,index) { %>
              <tr>
                <th scope="row"><%= index+1 %></th>
                <td><%= item.userName %></td>
                <td><%= item.email %></td>
                <td class="d-flex justify-content-center gap-3">
                  <a href="/user/edit-user/<%= item.id %>">
                    <span
                      ><button class="btn btn-warning">
                        <i
                          class="fa-solid fa-pen-to-square text-white"
                        ></i></button
                    ></span>
                  </a>

                  <form method="POST" action="/user/delete-user/<%= item.id %>">
                    <span
                      ><button type="submit" class="btn btn-danger">
                        <i class="fa-solid fa-trash"></i></button
                    ></span>
                  </form>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
